@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    background-image:
        radial-gradient(at 60% 5%, rgb(217, 229, 87) 0px, transparent 40%),
        radial-gradient(at 40% 10%, rgb(255, 173, 80) 0px, transparent 50%),
        radial-gradient(at 49% 76%, #ffffff 0px, transparent 50%);
}
