@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image:
        radial-gradient(at 60% -30%, rgb(87, 134, 229) 0px, transparent 50%),
        radial-gradient(at 30% 5%, rgb(255, 183, 101) 0px, transparent 40%),
        radial-gradient(at 49% 76%, #ffffff 0px, transparent 50%);
    min-height: 100vh;
}